<div class="row">
    <div class="col-md-12">
        <h3>Achievements</h3>
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-8">
        <mat-card>
            <mat-card-title class="card-title"> 
                <span class="span-icons">
                    <i class="material-icons-round">emoji_events</i>
                </span> 
                Rewards
            </mat-card-title>
            <mat-card-content>
                <h6>Levels ({{ levelsAchieved }}/{{ totalLevels }})</h6>
                <div class="row pt-2">
                    <div class="col reward-col">
                        <mat-card id="level1" class="reward-card" matTooltip="Collect 10 points to get this reward"
                        aria-label="Card that displays a tooltip when focused or hovered over">
                            <mat-card-title class="reward-title">
                                1 &nbsp; {{ levels[0] }}
                            </mat-card-title>
                            <mat-card-content class="reward-content mt-3">
                                <div id="levelImg1" class="reward-img">
                                    <a href="https://p7.hiclipart.com/preview/585/657/163/logo-graphic-design-yellow-cartoon-stars.jpg">
                                        <img src="../../assets/images/star.png" class="img-fluid center star-img" alt="Photo of a Star">
                                    </a>
                                    <div class="star-number">1</div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col reward-col">
                        <mat-card id="level2" class="reward-card" matTooltip="Collect 100 points to get this reward"
                        aria-label="Card that displays a tooltip when focused or hovered over">
                            <mat-card-title class="reward-title">
                                2 &nbsp; {{ levels[1] }}
                            </mat-card-title>
                            <mat-card-content class="reward-content mt-3">
                                <div id="levelImg2" class="reward-img">
                                    <a href="https://p7.hiclipart.com/preview/585/657/163/logo-graphic-design-yellow-cartoon-stars.jpg">
                                        <img src="../../assets/images/star.png" class="img-fluid center star-img" alt="Photo of a Star">
                                    </a>
                                    <div class="star-number">2</div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col reward-col">
                        <mat-card id="level3" class="reward-card" matTooltip="Collect 200 points to get this reward"
                        aria-label="Card that displays a tooltip when focused or hovered over">
                            <mat-card-title class="reward-title">
                                3 &nbsp; {{ levels[2] }}
                            </mat-card-title>
                            <mat-card-content class="reward-content mt-3">
                                <div id="levelImg3" class="reward-img">
                                    <a href="https://p7.hiclipart.com/preview/585/657/163/logo-graphic-design-yellow-cartoon-stars.jpg">
                                        <img src="../../assets/images/star.png" class="img-fluid center star-img" alt="Photo of a Star">
                                    </a>
                                    <div class="star-number">3</div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col reward-col">
                        <mat-card id="level4" class="reward-card" matTooltip="Collect 400 points to get this reward"
                        aria-label="Card that displays a tooltip when focused or hovered over">
                            <mat-card-title class="reward-title">
                                4 &nbsp; {{ levels[3] }}
                            </mat-card-title>
                            <mat-card-content class="reward-content mt-3">
                                <div id="levelImg4" class="reward-img">
                                    <a href="https://p7.hiclipart.com/preview/585/657/163/logo-graphic-design-yellow-cartoon-stars.jpg">
                                        <img src="../../assets/images/star.png" class="img-fluid center star-img" alt="Photo of a Star">
                                    </a>
                                    <div class="star-number">4</div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <h6 class="reward-section">Special Achievements ({{ specialsAchieved}}/{{ totalSpecialRewards }})</h6>
                <div class="row pt-2">
                    <div class="col reward-col">
                        <mat-card id="specialReward1" class="reward-card" matTooltip="Upload 50 recordings to get this reward"
                        aria-label="Card that displays a tooltip when focused or hovered over">
                            <mat-card-title class="reward-title">
                                {{ specialRewards[0] }}
                            </mat-card-title>
                            <mat-card-content class="reward-content">
                                <div class="reward-img">
                                    <a href="https://p1.hiclipart.com/preview/921/56/865/cartoon-gold-medal-award-prize-award-medal-trophy-gold-trophy-cup-symbol-yellow-png-clipart.jpg">
                                        <img src="../../assets/images/medal.png" class="img-fluid center medal-img" alt="Photo of a Medal">
                                    </a>
                                    <div class="medal-icon"><i class="material-icons-round md-36">emoji_nature</i></div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col reward-col">
                        <mat-card id="specialReward2" class="reward-card" matTooltip="Uplaod 100 recordings to get this reward"
                        aria-label="Card that displays a tooltip when focused or hovered over">
                            <mat-card-title class="reward-title">
                                {{ specialRewards[1] }}
                            </mat-card-title>
                            <mat-card-content class="reward-content">
                                <div class="reward-img">
                                    <a href="https://p1.hiclipart.com/preview/921/56/865/cartoon-gold-medal-award-prize-award-medal-trophy-gold-trophy-cup-symbol-yellow-png-clipart.jpg">
                                        <img src="../../assets/images/medal.png" class="img-fluid center medal-img" alt="Photo of a Medal">
                                    </a>
                                    <div class="medal-icon"><i class="material-icons-round md-36">history_edu</i></div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col reward-col">
                        <mat-card id="specialReward3" class="reward-card" matTooltip="Uplaod 200 recordings to get this reward"
                        aria-label="Card that displays a tooltip when focused or hovered over">
                            <mat-card-title class="reward-title">
                                {{ specialRewards[2] }}
                            </mat-card-title>
                            <mat-card-content class="reward-content">
                                <div class="reward-img">
                                    <a href="https://p1.hiclipart.com/preview/921/56/865/cartoon-gold-medal-award-prize-award-medal-trophy-gold-trophy-cup-symbol-yellow-png-clipart.jpg">
                                        <img src="../../assets/images/medal.png" class="img-fluid center medal-img" alt="Photo of a Crown">
                                    </a>
                                    <div class="medal-icon"><i class="material-icons-round md-36">school</i></div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <div class="row h-100">
            <div class="col-md-12 pb-4 h-50">
                <mat-card class="full-height">
                    <mat-card-title class="card-title"> 
                        <span class="span-icons">
                            <i class="material-icons-round">monetization_on</i>
                        </span> 
                        Score
                    </mat-card-title>
                    <mat-card-content class="score-content">
                        <p class="card-title">
                            Points: {{ pointScore }} (Level: {{ currentLevel }})
                        </p>
                        <div class="med-top-space">
                            <mat-progress-bar class="level-progress" color="accent" mode="determinate" [value]="levelUpProgress"></mat-progress-bar>
                            <p class="small-top-space med-font" *ngIf="isLevelUp(); else noLevelUp"><strong>{{ levelUpPoints }} points</strong> left for level up</p>
                            <ng-template #noLevelUp><p class="small-top-space med-font">You reached the highest level. Congrats!</p></ng-template>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-12 h-50">
                <mat-card class="full-height">
                    <mat-card-title class="card-title"> 
                        <span class="span-icons">
                            <i class="material-icons-round">trending_up</i>
                        </span> 
                        Progress
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="progress-list">
                            <mat-list-item>
                                <mat-icon mat-list-icon>mic</mat-icon>
                                <div mat-line>6 recordings uploaded</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>videogame_asset</mat-icon>
                                <div mat-line>8 games played</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>emoji_events</mat-icon>
                                <div mat-line>{{ rewardsAchieved }}/{{ totalRewards }} rewards collected</div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div> 
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-6 pb-5">
        <mat-card class="full-height">
            <mat-card-title class="card-title"> 
                <span class="span-icons">
                    <i class="material-icons-round">dashboard</i>
                </span> 
                Board
            </mat-card-title>
            <mat-card-content class="small-top-space">
                <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>            
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 pb-5">
        <mat-card>
            <mat-card-title class="card-title"> 
                <span class="span-icons">
                    <i class="material-icons-round">flag</i>
                </span> 
                Goals
            </mat-card-title>
            <mat-card-content>
                <mat-list style="padding-top: 0px;">
                    <mat-list-item *ngFor="let goal of goals; last as last">
                        <mat-icon mat-list-icon [ngClass]="goal.achieved? 'color-accent' : ''">{{goal.icon}}</mat-icon>
                        <div mat-line [ngClass]="goal.achieved? 'color-accent' : ''">{{goal.title}}</div>
                        <div mat-line class="item-subtitle" *ngIf="!goal.achieved">{{goal.description}}</div>
                        <div mat-line class="color-accent" *ngIf="goal.achieved">Achieved!</div>
                        <span class="span-icon" *ngIf="goal.achieved">
                            <mat-icon mat-list-icon color="accent">check_circle</mat-icon>
                        </span>
                        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
