.reward-col {
    padding-bottom: 8px;
}

.reward-card {
    background-color: #00838f;
    height: 144px;
    min-width: 150px;
    max-width: 152px;
    /*width: 150px;*/
    color: white;
}

.reward-title {
    font-size: medium;
}

.reward-icon {
    vertical-align: middle;
    padding-right: 4px;
}

.reward-footer {
    padding-right: 16px;
    padding-bottom: 0px;
    font-size: small;
    text-align: right;
}

.reward-section {
    padding-top: 16px;
}

.level-progress {
    width: 98%;
}

.score-content {
    padding-left:16px; 
    padding-top:16px;
    padding-right: 16px;
}

.mat-card-full-height {
    height: 100%;
}

.small-top-space {
    padding-top: 4px;
}

.med-top-space {
    padding-top: 8px;
}

.progress-list {
    padding-top: 0px;
}

.reward-content {
    margin-top: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.graduation-reward a img {
    margin-top: 20px;
}

.star-img {
    width: 70%;
    transform: rotate(32deg);
}

.medal-img {
    width: 52%;
}

.reward-img {
    position: relative;
    text-align: center;
    color: 	#303030;
}

.star-number {
    position: absolute;
    top: 47%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-weight: 900;
}

.medal-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}