<div class="row">
      <div class="col-md-12">
            <h3>Log in</h3>
      </div>
</div>
<div class="row pt-4">
      <div class="col-md-7">
            <form method="POST" [formGroup]="formGroupLogin" (submit)="loginForm()">
                  <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput id="email" placeholder="Enter email"
                          placeholder="Enter email address" formControlName="email" required>
                        <mat-error>
                              {{getErrorMessage('email')}}
                        </mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput id="password" placeholder="Enter password" [type]="hide ? 'password' : 'text'"
                          formControlName="password" required>
                        <mat-error>
                              {{getErrorMessage('password')}}
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                  </mat-form-field>
                  <br>
                  <div class="form-button-row">
                        <button id="login" type="submit" mat-raised-button color="accent">
                            Log in
                        </button>
                        <button id="resetForm" mat-raised-button color="accent"(click)="resetForm()" style="float: right; margin-right: 10px;">
                              Reset form
                        </button>
                    </div>
            </form>
      </div>
      <div class="col-md-5 pt-1">
            <mat-card class="full-height background-color-accent white">
                  <div class="row">
                        <div class="col-md-7">
                              <mat-card-title>
                                    <h4>Not registered yet?</h4>
                              </mat-card-title>
                              <mat-card-content class="med-font mt-2">
                                    <a routerLink="/register" class="white"><strong>Sign up</strong></a> to join our family!
                              </mat-card-content>
                        </div>
                        <div class="col-md-5">
                              <a href="https://mpng.subpng.com/20180322/dkw/kisspng-owl-desktop-wallpaper-clip-art-owls-5ab4008f89b727.5743244815217460635641.jpg">
                                    <img src="../../assets/images/owl.png" class="img-fluid small-owl-img" alt="Photo of an Owl">
                              </a>
                        </div>
                  </div>
            </mat-card>
      </div>
</div>
 <!-- <div class="alert alert-danger" role="alert" ng-if="errorMessage">
  errorMessage
 </div> -->
 <!--div class="panel panel-default mt-2">
  <div class="alert alert-success">
   <span class="lead">Login User</span>
   </div>
  <div class="panel-body ">
   <div class="container">
        <form method= "POST"
                [formGroup] = "formgroup"
                name="myForm"
                class="form-horizontal"
                (submit)="loginForm()"
                >

        <div class="row">
              <div class="form-group col-md-12">
                <label class="col-md-2 control-lable" for="email">
                      Email
                </label>
                <div class="col-md-7">
                      <input type="email"
                              id="email" class="form-control input-sm"
                              placeholder="Enter User Email"
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                              formControlName="email" required/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                </div>
              </div>
        </div>
        <div class="row">
              <div class="form-group col-md-12">
                <label class="col-md-2 control-lable" for="password">
                      Password
                </label>
                <div class="col-md-7">
                      <input type="password"
                              id="password" class="form-control input-sm"
                              placeholder="Enter User password."
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                              formControlName="password" required/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div-->
                            <!-- <div *ngIf="f.password.errors.pattern">Password must contain one lowercase, one uppercase,one digit and one special charchter.</div> -->
                        <!--/div>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="form-actions floatRight">
            <button type="submit"
                    class="btn btn-primary btn-sm ml-4 mr-2">
                  Login
            </button>
            <button type="button" (click)="resetForm()"
                    class="btn btn-warning btn-sm">Reset Form
            </button>
          </div>
        </div>
      </form>
   </div>
  </div>
 </div-->
