<div style="position: relative;" id="game">
    <div id="gameCanvas" style="width: 800px; height: 500px;">
        <div style="width: 100px; position: absolute; left: 37%; bottom: 15%;">
            <button id="startButton" style="background-color: transparent; filter: drop-shadow(0px 0px 16px #00000086);" class="btn btn-default" onclick="start();">
                <i style="font-size: 250px; color: white; " class="mdi mdi-play"></i>
            </button>
        </div>
    </div>


    <div id="gameOver" style="display:none;">
        <div class="d-flex flex-column align-items-center text-nowrap"
            style="color: #592B0D; width: 100px; position: absolute; left: 45%; bottom: 20%;">
            <span style="font-size: 72px;"> Game Over </span> <br>
            <span style="font-size: 48px;" id="scoreText"> </span>

            <br>
                
                <button class="btn btn-default" onclick="replay()" style="color: #592B0D; background-color: transparent; font-size: 72px;"><i
                        class="mdi mdi-replay"></i></button>

        </div>
    </div>

</div>

<div style="background-color: chocolate; width: 100%; height: 80px; position: relative;">
    <div id="statsContainer" style=" width: 100%; height: 80px;">

        <div class="d-flex">

            <div class="d-flex flex-column ml-2" style="padding: 10px; width: 100%; ">
                <label id="liveLabel" class="form-label text-nowrap mr-2"
                    style="color: ghostwhite; display:none; margin-bottom: 0%;">
                    <i class="mdi mdi-heart mdi-18px"></i>
                    Lives </label>
                <div id="heartContainer" style="display:none;">
                    <img class="mr-2" *ngFor="let item of [].constructor(lives);" style="width: 25px;"
                        src="../../assets/images/pixelheart.png">
                </div>
            </div>

            <div class="d-flex flex-column justify-content-around" style="padding: 10px; width: 100%;">
                <label id="customRangeLabel" for="customRange" class="form-label text-nowrap mr-2"
                    style="color: ghostwhite; display: none; margin-bottom: 0%;"> <i
                        class="mdi mdi-microphone mdi-18px"></i> Sensitivity</label>
                <input type="range" style="width: 100%; display: none;" min="0" max="1" step="0.05" class="form-range"
                    id="customRange">
            </div>

        </div>
    </div>
</div>