<h1 mat-dialog-title><!--mat-icon style="vertical-align: middle;">mic</mat-icon-->
    <b>New Recording</b>
</h1>
<div mat-dialog-content class="pt-1 pb-3">
  <div class="row">
      <div class="col-md-12">
          <p>1. Start recording <b>OR</b> Upload from file</p> 
      </div>
  </div>  
  <div class="row">
    <div class="col-md-6">
        <button mat-raised-button color="accent" id="startButton" class="mr-2"
        [disabled] ="!(!isRecording && !blobUrl)" (click)="startRecording()">Start
        <mat-icon class="icon-button">play_arrow</mat-icon>
        </button>
        <button  mat-raised-button color="accent" id="stopButton" class="mr-2"
        [disabled] ="!(isRecording && !blobUrl)" (click)="stopRecording()">Stop
        <mat-icon class="icon-button">stop</mat-icon>
        </button>
        <button mat-raised-button color="warn" id="clearButton"
        [disabled] ="!(!isRecording && blobUrl)" (click)="clearRecordedData()">Clear
        <mat-icon class="icon-button">delete</mat-icon>
        </button>
    </div>
    <div class="col-md-6 mt-1">
        <label>
            <input type="file" accept=".mp3,.wav,.ogg" (change)="selectFile($event)" />
        </label>
    </div>
  </div>
  <div class="row pt-3 pl-1">
    <div class="col-md-6">
        <p *ngIf="isRecording && !blobUrl" class="med-font"> {{recordedTime}} </p>

        <audio *ngIf="!isRecording && blobUrl"  controls>
            <source [src]="blobUrl" type="audio/webm">
        </audio>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6">
        <p>2. Name category</p> 
    </div>
    <div class="col-md-6" *ngIf="!isRecording && blobUrl">
      <p>3. Name recording (optional)</p> 
  </div>
  </div>  
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Category</mat-label>
        <input matInput id="category" type="text" placeholder="Enter category" name="category">
      </mat-form-field> 
    </div>
    <div class="col-md-6" *ngIf="!isRecording && blobUrl">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Recording</mat-label>
        <input matInput id="recordingName" type="text" placeholder="Enter recording name" [(ngModel)]="recordingName">
      </mat-form-field> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="float-right">
  <button mat-raised-button color="accent" *ngIf="selectedFiles" id="uploadFile"
  (click)="uploadbyCategory()">Upload
    <mat-icon class="icon-button">upload</mat-icon>
  </button>
  <button mat-raised-button color="accent" id="uploadRecording"
  *ngIf="!isRecording && blobUrl" (click)="uploadRecording()">Upload
  <mat-icon class="icon-button">upload</mat-icon>
  </button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Dimiss
    <mat-icon class="icon-button">clear</mat-icon>
  </button>
</div>