<div class="row pb-4">
  <div class="col-md-12">
    <h3>Recordings</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button mat-raised-button color="accent" (click)="openDialog()">New Recording
      <mat-icon class="icon-button">add</mat-icon>
    </button>
  </div>
</div>

<div id="parentCategories">
  <div class="pt-4">
    <mat-grid-list cols="4" rowHeight="240px">
      <mat-grid-tile
        *ngFor="let card of recordings">
      <mat-card class="recordings-width">
        <mat-card-header>
          <div mat-card-avatar class="user-header-image mt-1"></div>
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-subtitle>{{card.date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <b>Category:</b> <br>
          <div class="mt-1"></div>
          <mat-chip-list aria-label="Category">
            <mat-chip id="chipColor" [ngStyle]="{ 'background-color': getCatColor(card.category)}" selected>{{card.category}}</mat-chip>
          </mat-chip-list>
          <br>
          <b>Feedback:</b> <br>
          Good!
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
</div>

<!--div class="row pt-4">
  <div class="col-md-12" id="parentcategories"></div>
</div-->

