.welcome-card {
    font-size: large;
    color: white;
    height: 100%;
}

.today-card-items {
    align-items: center;
}

.digital-time-wrapper {
    font-size: x-large;
    font-weight: 500;
    text-align: center;
}

.owl-img {
    width: 84%;
}

.star-img {
    width: 140px;
    transform: rotate(32deg);
}

.star-replicated {
    width: 44px;
    transform: rotate(32deg);
}

.medal-replicated {
    width: 40px;
}

.reward-col {
    margin-left: -8px;
}

.level-text {
    font-size: medium;
    text-align: center;
    align-items: center;
}

.star-position {
    position: absolute;
    top: 52%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.level-progress {
    margin: 0 auto;
    width: 96%;
}

.reward-gray {
    filter: grayscale(100%);
}

.recording-chart {
    display: block;
}