<div class="row">
    <div class="col md-12">
        <h3>Dashboard</h3>
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-7">
        <mat-card class="background-color-accent welcome-card">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 ml-3 mt-5">
                            <mat-card-title class="xlarge-font">
                                <p>Welcome back, <strong>Michelle</strong> !</p>
                            </mat-card-title>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ml-3 mt-4">
                            <mat-card-content>
                                <p class="large-font">
                                    You've reached <strong>50%</strong> of your goals! <br/>
                                    Keep it up!
                                </p>
                            </mat-card-content>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <a href="https://mpng.subpng.com/20180322/dkw/kisspng-owl-desktop-wallpaper-clip-art-owls-5ab4008f89b727.5743244815217460635641.jpg">
                        <img src="../../assets/images/owl.png" class="img-fluid owl-img" alt="Photo of an Owl">
                    </a>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-5">
        <mat-card class="full-height">
            <!--mat-card-title class="large-font">
                <span class="span-icons">
                    <i class="material-icons-round">today</i>
                </span> 
                Today: {{ today | date: 'dd. MMMM yyyy' }}  
            </mat-card-title-->
            <!--mat-card-content-->
                <div class="row today-card-items">
                    <div class="col-md-5">
                        <div class="clock-wrapper mt-4">
                            <app-analog-clock></app-analog-clock>
                        </div>
                        <div class="digital-time-wrapper mt-3">
                            {{ today | date: 'HH:mm:ss' }}   
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="calendar-wrapper">
                            <mat-calendar #calendar [selected]="selectedDate"></mat-calendar>
                        </div>
                    </div> 
                </div>
        </mat-card>
    </div>
</div>
<div class="row pt-4 pb-5">
    <div class="col md-4">
        <mat-card class="full-height">
            <mat-card-title class="large-font">
                <span class="span-icons">
                    <i class="material-icons">whatshot</i>
                </span> 
                Current Level
            </mat-card-title>
            <mat-card-content>
                <div class="level-content mt-4">
                    <div class="reward-img">
                        <a href="https://p7.hiclipart.com/preview/585/657/163/logo-graphic-design-yellow-cartoon-stars.jpg">
                            <img src="../../assets/images/star.png" class="img-fluid star-img" alt="Photo of a Star">
                        </a>
                        <div class="star-number">{{ levelsAchieved }}</div>
                    </div>
                    <div class="level-text mt-3">
                        <p>You need <strong>{{ levelUpPoints }} points</strong> to reach the next level!</p>
                        <mat-progress-bar
                            class="level-progress"
                            [color]="accentColor"
                            [mode]="mode"
                            [value]="levelUpProgress">
                        </mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col md-4">
        <mat-card class="full-height">
            <mat-card-title class="large-font">
                <span class="span-icons">
                    <i class="material-icons-round">emoji_events</i>
                </span> 
                Rewards achieved
            </mat-card-title>
            <mat-card-content>
                <div id="parentStar" class="row mt-4">
                    <div class="col md-2">
                        <strong>Level</strong> <br/>
                        {{ levelsAchieved }}/4
                    </div>
                    <div id="childStar1" class="col md-1 reward-col">
                        <a href="https://p7.hiclipart.com/preview/585/657/163/logo-graphic-design-yellow-cartoon-stars.jpg">
                            <img src="../../assets/images/star.png" class="img-fluid star-replicated" alt="Photo of a Star">
                        </a>
                    </div>
                </div>
                <div id="parentMedal" class="row mt-4">
                    <div class="col md-2">
                        <strong>Special</strong> <br/>
                        {{ specialsAchieved }}/3
                    </div>
                    <div id="childMedal1" class="col md-1 reward-col">
                        <a href="https://p7.hiclipart.com/preview/585/657/163/logo-graphic-design-yellow-cartoon-stars.jpg">
                            <img src="../../assets/images/medal.png" class="img-fluid medal-replicated" alt="Photo of a Medal">
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col md-4">
        <mat-card class="full-height">
            <mat-card-title class="large-font">
                <span class="span-icons">
                    <i class="material-icons-round">mic</i>
                </span> 
                Recordings uploaded
            </mat-card-title>
            <mat-card-content>
                <div class="recording-chart mt-2">
                    <canvas baseChart width="3" height="2"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="doughnutChartColors"
                        [options]="doughnutChartOptions"
                        [plugins]="doughnutChartPlugins">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

