<div class="row">
      <div class="col-md-12">
            <h3>Sign Up</h3>
      </div>
</div>
<div class="row pt-4">
      <div class="col-md-7">
            <form method="POST" [formGroup]="registerForm" (submit)="submitUserForm()">
                  <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input matInput id="username" placeholder="Enter user name"
                        formControlName="name" required>
                        <mat-error>
                              Username is required
                        </mat-error>
                        <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput id="email" placeholder="Enter email"
                          placeholder="Enter email address"
                          formControlName="email" required>
                        <mat-error>
                              {{getErrorMessage('email')}}
                        </mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput id="password" placeholder="Enter password" [type]="hide ? 'password' : 'text'" 
                          formControlName="password" required>
                        <mat-error>
                              {{getErrorMessage('password')}}
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                  </mat-form-field>
                  <br>
                  <div class="form-button-row">
                        <button id="register" type="submit" mat-raised-button color="accent">
                            <!--mat-icon>done</mat-icon-->
                            Sign up
                        </button>
                        <button id="resetForm" mat-raised-button color="accent"(click)="resetForm()" style="float: right; margin-right: 10px;">
                              <!--mat-icon>undo</mat-icon-->
                              Reset form
                        </button>
                    </div>
            </form>
      </div>
      <div class="col-md-5 mt-1">
            <mat-card class="full-height background-color-accent white">
                  <mat-card-title>
                        <h4>Features</h4>
                  </mat-card-title>
                  <mat-card-content>
                        <mat-list class="white">
                              <mat-list-item><mat-icon mat-list-icon class="material-icons-round mr-1">health_and_safety</mat-icon> Stay connected with your doctor</mat-list-item>
                              <mat-list-item><mat-icon mat-list-icon class="material-icons-round mr-1">mic</mat-icon> Upload recordings</mat-list-item>
                              <mat-list-item><mat-icon mat-list-icon class="material-icons-round mr-1">videogame_asset</mat-icon> Play games</mat-list-item>
                              <mat-list-item><mat-icon mat-list-icon class="material-icons-round mr-1">trending_up</mat-icon> Monitor your progress</mat-list-item>
                        </mat-list>
                  </mat-card-content>
            </mat-card>
      </div>
</div>
<form method="POST"
            [formGroup] = "otp"
            name="myForm"
            class="form-horizontal"
            (submit)="onVerifyOtp()" *ngIf="regBtnClicked">
      <div class="row pt-4">
            <div class="form-group col-md-7">
                  <mat-form-field appearance="outline" class="full-width">
                        <mat-label>OTP</mat-label>
                        <input matInput placeholder="Enter OTP" type="text" formControlName="otp" required>
                  </mat-form-field>
                  <br>
                  <div class="form-button-row">
                        <button mat-raised-button color="accent" type="submit"
                                   class="btn btn-outline-success btn-sm ml-2">
                              <!--mat-icon>undo</mat-icon-->
                              Verify
                       </button>
                 </div>
            </div>
      </div>
</form>

 <!--div class="alert alert-danger" role="alert" ng-if="errorMessage">
  errorMessage
 </div> -->
 <!--div class="panel panel-default mt-2">
  <div class="alert alert-success">
   <span class="lead">Register New User</span>
    <p>Please maintain uniqueness of User-Name</p>
   </div>
  <div class="panel-body ">
   <div class="container">
        <form method= "POST"  
                  [formGroup] = "formgroup"
                  name="myForm"
                  class="form-horizontal"
                  (submit)="submitUserForm()" 
                  >
          <div class="row">
                <div class="form-group col-md-12">
                 <label class="col-md-2 control-lable" for="name">
                   Name
                 </label>
                 <div class="col-md-7">
                        <input type="text"
                                id="name" class="form-control input-sm"
                                placeholder="Enter user name"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                formControlName="name" required/>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>
                 </div>
                </div>
          </div>
          <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-2 control-lable" for="email">
                        Email
                  </label>
                  <div class="col-md-7">
                        <input type="email"
                                id="email" class="form-control input-sm"
                                placeholder="Enter User Email"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                formControlName="email" required/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                  </div>
                </div>
          </div>
          <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-md-2 control-lable" for="password">
                        Password
                  </label>
                  <div class="col-md-7">
                        <input type="password"
                                id="password" class="form-control input-sm"
                                placeholder="Enter User password."
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                formControlName="password" required/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div-->
                            <!-- <div *ngIf="f.password.errors.pattern">Password must contain one lowercase, one uppercase,one digit and one special charchter.</div> -->
                        <!--/div>
                  </div>
                </div>
          </div>
          
          <div class="row">
                <div class="form-actions floatRight">
                        <button type="submit"
                                class="btn btn-primary btn-sm ml-4 mr-2">
                              Register User
                              </button>
                        <button type="button" (click)="resetForm()"
                                class="btn btn-warning btn-sm">Reset Form</button>
                </div>
          </div>
        </form>
        <hr>
        <form method="POST"
                  [formGroup] = "otp"
                  name="myForm"
                  class="form-horizontal"
                  (submit)="onVerifyOtp()">
            <div class="row" *ngIf="regBtnClicked">
                  <div class="form-group col-md-5 float-left">
                  <input type="text"
                              id = "otp" class="form-control col-sm-7 input-sm"
                              placeholder="Enter Otp"
                              formControlName="otp" required>
                  </div>
                  <div class="col-md-2 form-actions">
                  <button type="submit"
                              class="btn btn-outline-success btn-sm ml-2">Verify</button>
                  </div>
            </div>
        </form>
        
   </div>
  </div>
 </div-->