html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.main-content h1 {
    font-weight: normal;
}

.main-content h2 {
    font-weight: normal;
}

.main-content {
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.filter .mat-form-field {
    font-size: 14px;
    width: 100%;
}

.my-container {
    margin-top: 40px;
    flex: auto;
    align-content: center;
}

.span-icons {
    vertical-align: middle;
    padding-right: 8px;
}

.med-font {
    font-size: medium;
}

.large-font {
    font-size: large;
}

.xlarge-font {
    font-size: x-large;
}

.demi-bold-font {
    font-weight: 600;
}

.card-title {
    font-size: 130%;
}

.item-subtitle {
    color: gray;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.form-button-row button,
.form-button-row a {
    float: right;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-right: 8px;
}

.md-36 {
    font-size: 36px;
}

.reward-img {
    position: relative;
    text-align: center;
    color: 	#303030;
}

.star-number {
    position: absolute;
    top: 47%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-weight: 900;
}

.white {
    color: white;
}

.float-right {
    float: right;
}

.user-header-image {
    background-image: url('./assets/images/baseline_keyboard_voice_black_24dp.png');
    background-size: cover;
}

.recordings-width {
    width: 90%;
}

.color0 {
    background-color: #fdd835 !important;
}

.color1 {
    background-color: #ff7043;
}

.color3 {
    background-color: #2196f3;
}

.color4 {
    background-color: #66bb6a;
}

.color5 {
    background-color: #8d6e63;
}
