@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import "variables";
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
//Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; // add the grid
@import "reset";


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
   $font-family: 'Quicksand'
);

@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$talk-straight-primary: mat-palette($mat-teal, 400);
$talk-straight-accent:  mat-palette($mat-cyan, 800);

// The warn palette is optional (defaults to red).
$talk-straight-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$talk-straight-theme: mat-light-theme(
   $talk-straight-primary,
   $talk-straight-accent,
   $talk-straight-warn,  
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($talk-straight-theme);

.color-primary {
   color: mat-color($talk-straight-primary);
}

.color-accent {
   color: mat-color($talk-straight-accent);
}

.background-color-accent {
   background-color: mat-color($talk-straight-accent);
}

.background-color-primary {
   background-color: mat-color($talk-straight-primary);
}