<div class="row pb-4">
  <div class="col-md-12">
    <h3>Video Chat</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="chat-room" style="display: none;">
      <video id="remote-view" autoplay #video2 allowfullscreen></video>
      <div id="self-view-container" class="mr-2">
      <video id="self-view" autoplay #video1></video>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="row mt-4 center">
  <div class="col-md-12">
     <button mat-raised-button color="warn" *ngIf="connected" id="stop"
          (click)="endCall();"
          type="button"
          class="end-button"
          routerLink="/chat">
      End Call &nbsp;
      <mat-icon class="icon-button">call_end</mat-icon>
  </button>
  </div>
</div>

<div class="row" id="start">
  <div class="col-md-6">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Input</mat-label>
      <input matInput id="code-input" placeholder="Enter your code" [(ngModel)]="codeInput"/>
    </mat-form-field>
    <br>
    <button mat-raised-button id="start-button" class="float-right"
            color="accent" [disabled]="codeInput.length < 9">
      Start Video Chat
      <mat-icon class="icon-button">video_call</mat-icon>
    </button>
  </div>
</div>
