<div class="row pb-4">
  <div class="col-md-12">
    <h3>Video Chat</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form *ngIf="auth.isAuthenticated()">
      <div ngbDropdown class="d-inline-block" class="full-width">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>User</mat-label>
          <input matInput id="search" (keyup)="search($event.target.value)"
               placeholder="Enter username" aria-label="Search"
               ngbDropdownToggle>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <div ngbDropdownMenu aria-labelledby="search">
          <ul>
            <li ngbDropdownItem *ngIf="len==0">Searching...</li>
          </ul>
          <ul *ngFor="let u of users$ | async">
            <li ngbDropdownItem style="cursor: pointer;" (click)="clicked(u)">
              <b>{{u.id}}</b>&nbsp; <i>{{u.name | titlecase}}</i><br>
              <i>{{u.email}}</i>
            </li>
          </ul>
        </div>
      </div>
      <!--div class="form-button-row">
        <button mat-raised-button color="accent" type="button">Search</button>
      </div-->
    </form>
  </div>
  <div class="col-md-6 pt-1" *ngIf="!deleteSearchedUser && auth.isAuthenticated()">
    <mat-card>
      <mat-card-header class="full-width">
        <div mat-card-avatar class="user-header-image"></div>
        <div class="row full-width">
          <div class="col-md-8">
            <mat-card-title class="xlarge-font mt-1"><strong>{{seachedUser.name}}</strong></mat-card-title>
            <!--mat-card-subtitle>ID: {{seachedUser.id}}</mat-card-subtitle-->
          </div>
          <div class="col-md-4 float-right" >
            <button mat-raised-button class="float-right" color="accent"
              aria-label="video call icon" 
              type="button"
              (click)="onVideoCall(seachedUser.id)"
              ngbPopover="Video Call"
              triggers="mouseenter:mouseleave"
              placement="right">Start Video Chat
              <mat-icon class="icon-button">video_call</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="pt-3">
        <b>ID: </b>{{seachedUser.id}}<br>
        <b>E-Mail: </b>{{seachedUser.email}}<br>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row pt-3" *ngIf="auth.isAuthenticated()">
  <div class="col-md-12" *ngFor="let notif of notifications;let i=index">
    <ngb-alert [dismissible]="false" class="pt-3" type="info">{{notif.senderName | titlecase}} wants to make a video call with you.
      <div class="row pt-2">
        <div class="col-md-12" style="text-align: right">
          <a mat-raised-button color="accent" routerLink="/videocall/{{notif.code}}"
           class="mr-2" (click)="onDeleteNotification(notif.id,i)">
            Accept
          <mat-icon class="icon-button">phone_enabled</mat-icon>
          </a>
          <a mat-raised-button color="warn" (click)="onDeleteNotification(notif.id,i)" style="cursor: pointer;">
            Dismiss
          <mat-icon class="icon-button">phone_disabled</mat-icon>
          </a>
        </div>
      </div>
    </ngb-alert>
  </div>
</div>


<div class="row" *ngIf="!auth.isAuthenticated()">
  <div class="col-md-12">
    <ngb-alert type="custom" [dismissible]="false"><strong>PLEASE Login</strong> first to
    access the services.
  </ngb-alert>
  </div>
