.user-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.icon-button {
    margin-bottom: 3px;
}

.float-right {
    float: right;
}

.center {
    text-align: center;
}

.end-button {
    left: 5%;
}