<mat-toolbar color="primary">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 app-link">
                <img src="../../assets/images/owl.png" class="img-fluid mini-owl-img" alt="Photo of an Owl">
                <span class="app-name ml-1"><a class="app-name" routerLink="/">TalkStraight</a></span>
            </div>
            <div class="col col-md-8 nav-links">
                <a mat-button routerLink="/">HOME</a>
                <a mat-button routerLink="/chat">CHAT</a>
                <a mat-button routerLink="/recordings">RECORDINGS</a>
                <a mat-button href="/game">GAME</a>
                <a mat-button routerLink="/achievements">ACHIEVEMENTS</a>
            </div>
            <div class="col col-md-1 nav-links">
                <ng-template [ngIf] = "!auth.isAuthenticated()">
                    <a mat-button routerLink="/login">LOG IN</a>
                </ng-template>
                <a mat-button routerLink="/" (click)="onLogout()" *ngIf="auth.isAuthenticated()">LOG OUT</a>
            </div>
        </div>
    </div>
</mat-toolbar>
