.title-spacer {
    flex: 0 48px;
}

.button-spacer {
    flex: 0 48px;
}

.login-spacer {
    flex: 1 1 auto;
}

.btn-default

{
  background-color: transparent;

  color:#0b8f00;

  border-color: #0b8f00;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {



  background-color: #0b8f00;

  color:#FFF;

  border-color: #31347B;

}

.nav-links a {
  font-size: medium;
  font-weight: 600;
}

.app-link {
  font-size: x-large;
  font-weight: 600;
}

.mini-owl-img {
  width: 8%;
  margin-bottom: 4px;
}

.app-name {
  color: black;
}

.app-name a:hover {
  text-decoration: none;
}